.signup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff; /* تأثير بارز */
    width: 40%;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #0a0a0a;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2b79df;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #2b79df;
}

p {
    margin-top: 15px;
    color: #555;
}

a {
    color:#2b79df;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
